name: Generate Pacman Contribution Graph

permissions:
  contents: write

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pacman SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: kaadipranav
          outputs: |
            dist/pacman.svg?palette=github-dark&color_dots=#0c2161&color_snake=#000000

      - name: Push Pacman SVG
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
